*{
  margin: 0;
  padding: 0;
  
}



.nameLi{
  background-color: rgb(47, 250, 155);
  
}

.navContainer{
  padding: 10px 30px;
}

.navRoundDiv{
  border-radius: 5px 40px 10px 50px;
}


.left-visible {
  overflow-x: visible;
  overflow-y: hidden;
  direction: rtl;
}

.left-visible > * {
  direction: ltr;
}
